# How to get these: open https://music.apple.com logged in, DevTools > Network,
# click any request to amp-api.music.apple.com, then copy from its request headers:
#   authorization: Bearer <this part>   -> AMC_DEV_TOKEN (without "Bearer ")
#   media-user-token: <value>           -> AMC_MEDIA_USER_TOKEN
AMC_DEV_TOKEN=
AMC_MEDIA_USER_TOKEN=
